@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color styles */
  --white: #ffffff;
  --dark-mode-bg: #211a4a;
  --light-mode-bg: #FFFFFF;
  --candy-linear-gradient: linear-gradient(91.13deg, #D85980 -4.51%, #FF61C0 102.47%);

  /* candy */
  --candy-0: #2B121B;
  --candy-1: #562436;
  --candy-2: #973E5F;
  --candy-3: #D85988;
  --candy-4: #E48BAC;
  --candy-5: #EFBDD0;
  --candy-6: #F7DEE7;

  /* neutral-dark */
  --neutral-dark-0: #1c133d;
  --neutral-dark-1: #2e1854;
  --neutral-dark-2: #2d225e;
  --neutral-dark-3: #402d82;
  --neutral-dark-4: #6951b1;
  --neutral-dark-5: #9b8bd8;
  --neutral-dark-6: #dfd0fa;

  /* neutral-light */
  --neutral-light-0: #eeedf6;
  --neutral-light-1: #d4d2e2;
  --neutral-light-2: #afacc6;
  --neutral-light-3: #625e7c;
  --neutral-light-3: #7e7a98;
  --neutral-light-4: #393558;
  --neutral-light-5: #1c1937;
  --neutral-light-6: #0c0a21;

  /* grey */
  --grey-0: #f3f4f6;
  --grey-1: #e5e7eb;
  --grey-2: #d1d5db;
  --grey-3: #9ca3af;
  --grey-4: #6b7280;
  --grey-5: #4b5563;
  --grey-6: #374151;
  --grey-7: #1f2937;
  --grey-8: #111827;

  /* blue */
  --blue-0: #14282E;
  --blue-1: #274F5C;
  --blue-2: #4F9EB7;
  --blue-3: #62C6E5;
  --blue-4: #81D1EA;
  --blue-5: #C0E8F6;
  --blue-6: #E0F4FA;

  /* purple */
  --purple-0: #100C28;
  --purple-1: #201850;
  --purple-2: #3F30A1;
  --purple-3: #4F3CC9;
  --purple-4: #7263D4;
  --purple-5: #B9B2E9;
  --purple-6: #DDD8F4;

  /* Text-size styles */
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 24px;
  --font-size-xxxxl: 38px;
  --font-family-lato: 'Lato';
}
